body {
  max-width: 990px;
  margin: 0 auto;
  padding: 2rem 3rem;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}

::placeholder{
  color: #000000;
}